#container {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: 'Roboto';
}

img {
	width: 50vw;
	height: 50vh;
}

#home-link {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: royalblue;
	text-decoration: none;
	color: white;
	border-radius: 20px;
}
