#create-product-main {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 10px;
}

#title {
	text-align: center;
	font-size: 30px;
}

#create-product-container {
	display: flex;
	flex-direction: column;
	height: 100%;
	border: 1px solid #d9d9d9;
	border-radius: 11px;
	padding: 10px;
}

.MuiFormControl-root {
	width: 300px;
}

#category-select * {
	padding-left: 0;
}

#create-product-container input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
/* #create-product-container *:not(div):not(p):not(#product-image-input) {
	display: flex; 
	justify-content: center;
	align-items: center;
} */

#create-product-container p {
	font-size: large;
	font-weight: 500;
}
#product-image {
	height: 200px;
	width: 200px;
}
