#create-product-main {
	box-sizing: border-box;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 10px;
}

#create-product-main h1 {
	text-align: center;
	font-size: 30px;
}

#create-product-container {
	display: flex;
	flex-direction: column;
	height: 100%;
	border: 1px solid #d9d9d9;
	border-radius: 11px;
	padding: 5px;
}

#create-product-container *:not(div) {
	display: flex;
	justify-content: center;
	align-items: center;
}

#product-image {
	height: 200px;
	width: 200px;
}
